body {
  margin:0;
  overflow:hidden;
  font-family: Arial;
  background:black;
  color:#00ffe1;
}

/* STAR BACKGROUND CANVAS */
#bg {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

/* UI GRID */
.ui {
  position:absolute;
  display:grid;
  grid-template-columns: 1fr 1.3fr 1fr;
  width:100%;
  height:100%;
}

/* PANELS */
.panel {
  margin:10px;
  padding:10px;
  background: rgba(0,255,225,0.05);
  border:1px solid #00ffe1;
  backdrop-filter: blur(10px);
  box-shadow:0 0 30px #00ffe155;
}

h1 {
  font-size:20px;
}

.card {
  border:1px solid #00ffe1;
  margin:10px 0;
  padding:10px;
  animation: glow 2s infinite;
}

@keyframes glow {
  0% {box-shadow:0 0 5px #00ffe1;}
  50% {box-shadow:0 0 20px #ff00ff;}
  100% {box-shadow:0 0 5px #00ffe1;}
}

button {
  background:black;
  color:#00ffe1;
  border:1px solid #00ffe1;
  padding:8px;
  margin:5px;
  cursor:pointer;
  transition:0.2s;
}

button:hover {
  transform:scale(1.05);
  box-shadow:0 0 20px #00ffe1;
}

.circuit {
  height:80px;
  border:1px dashed #00ffe1;
  margin-top:10px;
  padding:5px;
}

.battle {
  margin-top:20px;
  height:150px;
  border:1px solid #00ffe1;
  display:flex;
  align-items:center;
  justify-content:center;
  animation:pulse 2s infinite;
}

@keyframes pulse {
  0% {box-shadow:0 0 10px #00ffe1;}
  50% {box-shadow:0 0 40px #ff00ff;}
  100% {box-shadow:0 0 10px #00ffe1;}
}

canvas#chart {
  width:100%;
  height:200px;
  background:black;
}

/* POPUP */
.popup {
  position:absolute;
  top:0;left:0;
  width:100%;height:100%;
  background:rgba(0,0,0,0.9);
  display:flex;
  align-items:center;
  justify-content:center;
}

.popupBox {
  padding:30px;
  border:2px solid #00ffe1;
}

.hidden {display:none;}
