*{
box-sizing:border-box;
font-family:'Orbitron',Arial;
}


body{

margin:0;
color:#00ffff;
background:#020510;
overflow-x:hidden;

}


.background{

position:fixed;
width:100%;
height:100%;

background:
radial-gradient(circle,#063,#000 70%);

z-index:-1;

}



header{

text-align:center;
padding:25px;

text-shadow:
0 0 15px cyan;

}


.container{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(330px,1fr));

gap:20px;

padding:20px;

}



.panel{

background:
rgba(0,20,40,.85);


border:

1px solid cyan;


border-radius:15px;


padding:20px;


box-shadow:

0 0 25px #00ffff55;


}


h2{

color:#00ffcc;

}



#core{

height:250px;

display:flex;

align-items:center;

justify-content:center;

}


#qbit{


width:130px;

height:130px;


border-radius:50%;


display:flex;

justify-content:center;

align-items:center;


font-size:35px;


background:

radial-gradient(circle,#00ffff,#001);


box-shadow:

0 0 50px cyan;


animation:pulse 2s infinite;


}



@keyframes pulse{

50%{

transform:scale(1.15);

}

}




button{


background:#001b33;


border:

1px solid cyan;


color:white;


padding:12px;


margin:5px;


border-radius:8px;


cursor:pointer;


transition:.3s;


}



button:hover{

background:#00ffff;

color:black;


}



canvas{

width:100%;

height:250px;

background:#000;


}



#popup{


position:fixed;

top:0;

left:0;


width:100%;

height:100%;


background:#000c;


display:none;


justify-content:center;

align-items:center;


}



.popupBox{


background:#001522;

border:2px solid cyan;


padding:40px;

text-align:center;


border-radius:20px;


box-shadow:

0 0 50px cyan;


}


pre{

color:#00ff99;

}
