/* GLOBAL */
body{
    margin:0;
    font-family:Arial;
    background:#050816;
    color:white;
}

/* PAGE SYSTEM */
.page{
    padding:120px 30px;
}

.hidden{
    display:none;
}

/* NAVBAR */
.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    position:fixed;
    top:0;
    width:100%;
    background:rgba(0,0,0,0.5);
    backdrop-filter:blur(10px);
}

.logo{
    color:#00d4ff;
    font-weight:bold;
}

.menu button{
    margin-left:10px;
    padding:10px 15px;
    border:none;
    background:#00d4ff;
    cursor:pointer;
    border-radius:8px;
}

/* CARDS */
.card{
    background:rgba(255,255,255,0.05);
    padding:20px;
    margin:10px;
    border-radius:10px;
    border:1px solid rgba(255,255,255,0.1);
    display:inline-block;
    cursor:pointer;
}

.card:hover{
    box-shadow:0 0 20px rgba(0,212,255,0.4);
}

/* GAME BOX */
button{
    margin-top:20px;
    padding:10px 20px;
    border:none;
    border-radius:10px;
    background:#00d4ff;
    cursor:pointer;
}
