*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Orbitron',sans-serif;
}

body{
background:#000;
color:white;
overflow-x:hidden;
min-height:100vh;
}

#galaxy{
position:fixed;
width:100%;
height:100%;
z-index:-3;
}

.overlay{
position:fixed;
inset:0;
background:
radial-gradient(circle at center,
rgba(0,255,255,.08),
transparent 60%);
z-index:-2;
}

header{
text-align:center;
padding:20px;
}

header h1{
font-size:3rem;
color:#00ffff;
text-shadow:0 0 30px cyan;
}

.hud{
display:flex;
justify-content:space-between;
padding:20px;
}

.progressBar{
width:300px;
height:18px;
background:#111;
border-radius:20px;
overflow:hidden;
}

#progressFill{
width:0%;
height:100%;
background:
linear-gradient(90deg,
cyan,
purple);
transition:.5s;
}

.mainGrid{
display:flex;
justify-content:center;
gap:50px;
padding:30px;
flex-wrap:wrap;
}

.universe{
width:320px;
padding:20px;
background:rgba(255,255,255,.08);
backdrop-filter:blur(15px);
border-radius:25px;
text-align:center;
}

.qubit{
width:150px;
height:150px;
margin:25px auto;
border-radius:50%;
display:flex;
justify-content:center;
align-items:center;
font-size:3rem;
background:
radial-gradient(circle,
cyan,
black);
box-shadow:
0 0 50px cyan;
}

.centerArea{
text-align:center;
}

.wormhole{
position:relative;
width:250px;
height:250px;
margin:auto;
}

.ring{
position:absolute;
border-radius:50%;
border:3px solid cyan;
inset:0;
animation:warp 5s linear infinite;
}

.r2{
animation-delay:1s;
}

.r3{
animation-delay:2s;
}

.r4{
animation-delay:3s;
}

@keyframes warp{

0%{
transform:scale(.2);
opacity:0;
}

100%{
transform:scale(2);
opacity:1;
}

}

#beam{
width:0;
height:10px;
margin:auto;
margin-top:15px;
background:
linear-gradient(
90deg,
transparent,
cyan,
white,
cyan,
transparent
);
box-shadow:
0 0 40px cyan;
transition:1s;
}

button{
margin-top:20px;
padding:14px 30px;
border:none;
border-radius:12px;
cursor:pointer;
font-weight:bold;
background:cyan;
}

.phasePanel{
display:flex;
justify-content:center;
gap:10px;
padding:20px;
flex-wrap:wrap;
}

.phase{
padding:12px;
background:#111;
border-radius:12px;
}

.active{
background:cyan;
color:black;
}

.educationGrid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
gap:20px;
padding:25px;
}

.card{
background:rgba(255,255,255,.08);
padding:20px;
border-radius:20px;
backdrop-filter:blur(15px);
}

.circuitPanel{
margin:20px;
padding:20px;
background:rgba(255,255,255,.08);
border-radius:20px;
}

pre{
color:#00ffcc;
overflow:auto;
}

.popup{
position:fixed;
inset:0;
display:flex;
justify-content:center;
align-items:center;
background:rgba(0,0,0,.85);
}

.popupBox{
background:#07121f;
padding:40px;
border-radius:25px;
text-align:center;
box-shadow:
0 0 60px cyan;
}

.hidden{
display:none;
}
