*{
box-sizing:border-box;
}


body{

margin:0;
background:
radial-gradient(circle,#08142f,#000);

font-family:
"Segoe UI",
sans-serif;

color:white;

}


.header{

text-align:center;
padding:20px;

background:
linear-gradient(90deg,#00ffff,#7b00ff);

box-shadow:
0 0 30px cyan;

}


h1{

text-shadow:
0 0 20px cyan;

}


.main{

display:grid;

grid-template-columns:
1fr 2fr 1fr;

gap:20px;

padding:20px;

}


.panel{

background:

rgba(10,20,40,.8);

border:

1px solid cyan;

border-radius:15px;

padding:20px;

box-shadow:

0 0 25px #00ffff55;

}


button{


background:#111;

color:#00ffff;

border:

1px solid cyan;

padding:10px;

margin:5px;

cursor:pointer;

border-radius:8px;


}



button:hover{

background:#00ffff;

color:black;

}



#visualCircuit{


height:120px;

border:

2px dashed cyan;

margin:20px;

display:flex;

align-items:center;

justify-content:center;

font-size:25px;

}



.run{

width:90%;

font-size:20px;

background:
linear-gradient(
90deg,
cyan,
purple
);

color:white;

}



canvas{

background:black;

border:1px solid cyan;

width:100%;

}



pre{

background:black;

padding:15px;

color:#00ff99;

}



#popup{

position:fixed;

display:none;

top:0;

left:0;

width:100%;

height:100%;


background:

rgba(0,0,0,.8);


align-items:center;

justify-content:center;

}



.box{

background:#061225;

padding:50px;

border:

3px solid cyan;

border-radius:20px;

text-align:center;

box-shadow:

0 0 50px cyan;

}


@media(max-width:900px){

.main{

grid-template-columns:1fr;

}

}
#waveBox{

height:250px;

border:

2px solid cyan;

border-radius:15px;

overflow:hidden;

background:black;

box-shadow:

0 0 30px cyan;

}


#waveCanvas{

width:100%;

height:100%;

}


#waveStatus{

text-align:center;

color:#00ffff;

font-size:20px;

}
